{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    - About Us
{% endblock %}

{% block body_block %}
    <h1 class="display-4">About page</h1>
    <p class="text-secondary">This is <strong>Rango's about page. <br>
        You visited the site in {{ visits }} occasion(s) <br>
        Your last visit is: {{ last_visit }} <br>
        Here's a picture of Rango!</strong></p>
    <img src="{% static 'images/rango.jpg' %}" alt="RANGO.jPG*" width="280" height="auto"> <br>
{% endblock %}
