{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title_block %}
    - Add a Category
{% endblock %}

{% block body_block %}

    {# Display a form #}

    <form role="form" class="form-control-lg mt-4" method="post" id="category_form"
          action="{% url 'rango:add_category' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading"> Add a Category</h2>
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-primary mt-2" type="submit">Submit</button>
        {% endbuttons %}
    </form>
{% endblock %}
