<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title_block %}
            - Add a Page
        {% endblock %}
    </title>
</head>
<body>
{% block body_block %}

    <h1>Add a Page</h1>
    <div>
        <form action="{% url 'rango:add_page' category.slug %}" method="post" id="page_form">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Create Page" />
        </form>
    </div>
{% endblock %}
</body>
</html>