<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    - {{ category.name }}
{% endblock %}

{% block body_block %}
    <div class="cats">
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if user.is_authenticated %}
                <a href="{% url 'rango:add_page' category.slug %}">Add a page</a>
            {% else %}
                <p>Please, register or sign in to add a Page.</p>
            {% endif %}

            {% if pages %}
                <ul>
                    {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>No pages in currently category.</strong>
            {% endif %}
        {% else %}
            <p>The specified category does not exist!</p>
        {% endif %}
    </div>
{% endblock %}
