<div class="container">
    {% if cats %}

        {% for c in cats %}
            {% if c == act.cat %}
                <strong>
                    <a class="nav-link" href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>
                </strong>
            {% else %}
                <a class="page-link" href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a> <br>
            {% endif %}
        {% endfor %}

    {% else %}
        <li><strong>There are no categories to present.</strong></li>
    {% endif %}
</div>
